<h1>New Cat</h1>

<form action="<%= cats_url %>" method="post">
    <label for="cat_name">Name: </label>
    <input 
        type="text" 
        name="cat[name]" 
        id="cat_name" 
        value="<%= @cat.name %>">
    <br>

    <label for="cat_color">Color: </label>
    <select 
        name="cat[color]" 
        id="cat_color"
    >
        <option disabled selected>-- select a color --</option>
            <% Cat::CAT_COLORS.each do |color| %>
                <option <%= @cat.color == color ? "selected" : "" %>
                value="<%= color %>">
                <%= color.downcase %>
                </option>
            <% end %>
    </select>
    <br>

    <label for="cat_birth_date">Date of birth: </label>
    <input 
        type="date" 
        name="cat[birth_date]" id="cat_birth_date" 
        value="<%= @cat.birth_date %>"
    >
    <br>

    <input 
        type="radio" 
        name="cat[sex]"      
        value="Male" 
        id="cat_sex_m"
        <%= @cat.sex == "Male" ? "checked" : "" %>
    >
    <label for="cat_sex_m">Male</label>
    <input 
        type="radio" 
        name="cat[sex]"      
        value="Female" 
        id="cat_sex_f"
        <%= @cat.sex == "Female" ? "checked" : "" %>
    >
    <label for="cat_sex_f">Female</label>
    <br>

    <label>Description: 
        <textarea name="cat[description]"><%= @cat.description %></textarea> 
    </label>
    <br>

    <input type="submit" value="Add cat">
</form>