<h1>All the cats:</h1>
<h2><%= @cat.name %></h2>
<h3>Name: <%= @cat.name %></h3>
<ul>
    <li>
        Color: <%= @cat.color %>
    </li>
    <li>
        Sex: <%= @cat.sex %>
    </li>
    <li>
        Color: <%= @cat.age %>
    </li>
    <li>
        Description: <%= @cat.description  %>
    </li>
</ul>